body{
    text-align:center;
    width:100%;
    padding:0px;
    background-color:#EEEEEE;
}

h1{
    font-family:'Press Start 2P', cursive;
    font-size:30pt;
    color:#EEEEEE;
    width:800px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    background: url(images/background.png);
}

h2{
    font-family:'Press Start 2P', cursive;
    font-size:16pt;
}

#forms{
    width:800px;
    height:170px;
    display:inline-block;
    vertical-align:top;
}

#chooseSize{
    float:left;
    text-align: center;
    width:400px;
    height:170px;
}

#chooseColour{
    width:400px;
    height:170px;
    float:left;
}

input[type=number]{
    width: 40px
}

input[type=color]{
    width:70px;
    height:70px;
    padding:0;
    border-style:none;
}

input[type=submit]{
    background-color:#5E81AC;
    font-family:'Press Start 2P', cursive;
    margin-top:10px;
    width:100%;
    height:50px;
    font-size:16pt;
    color:#FFFFFF;
    border-style:none;
    border-radius:3px;
}

input[type=submit]:hover{
    background-color:#5E81AC;
    font-family:'Press Start 2P', cursive;
    width:100%;
    height:50px;
    font-size:16pt;
    color:#FFFFFF;
    border-style:none;
    border-radius:3px;
    padding:3px;
    box-shadow: 2px 2px 2px 0px #BDBDBD;
}

#canvas{
    margin-right:auto;
    margin-left:auto;
    float:none;
}

td {
    width:10px;
    height:10px;
    background-color:#FFFFFF;
}
